@using Cross_cutting.Extensions
<environment include="Development">
    <link rel="stylesheet" href="~/css/Shared/UserProfileButton.css" />
</environment>

@if (User.Identity.IsAuthenticated)
{
    var FullName = User.Identity.Name;
    var LetterPath = "/images/Letters/" + FullName.First().ToString().ToUpper() + ".svg";

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" id="user-btn">
                <img class="img-responsive img-circle" src="@LetterPath" id="profile-letter" />
                <span style="padding-top:15px;">@FullName</span>
                <i class="fa fa-angle-down" style="padding-top:15px;"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a asp-controller="Profile" asp-action="ProfileInfo" asp-route-id="@User.GetUserId()">View Profile Page</a></li>
                <li><a onclick="$('#logout-form').submit()"><form id="logout-form" asp-controller="Account" asp-action="Logout" method="post">Log Out</form></a></li>
            </ul>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}