#update-profile-btn{
    float:right;
}

@media only screen and (max-width: 767px) {
    #update-profile-btn{
        width:100%;
    }
}

@media only screen and (min-width: 768px) {
   #update-profile-btn{
       width:150px;
   }
}

#user-profile {
    margin-top: 10px;
}

#user-photo {
    border: 5px solid;
}

.title-page {
    color: #311ab2;
    font-family: Segoe Script;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2em;
}

#user-main-info {
    font-size: 2em;
    font-family: Rockwell;
    color: #199641;
}

#user-secondary-info {
    font-size: 1.5em;
}

.user-info-row {
    border: 3px solid black;
    margin: 5px 0px 5px 0px;
}

#favorites {
    background-color: #ff7c7c;
}

#ratings {
    background-color: #907aff;
}

#posts {
    background-color: #f8f9bb;
}

#favorites:hover {
    background-color: #ff000c;
    font-size: 1.8em;
    cursor: pointer;
}

#ratings:hover {
    background-color: #1900ff;
    font-size: 1.8em;
    cursor: pointer;
}

#posts:hover {
    background-color: #ffe900;
    font-size: 1.8em;
    cursor: pointer;
}
