td {
    border-top: 2px solid red !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

tr:last-child td {
    border-top: 2px solid red !important;
    border-bottom: 2px solid red !important;
}

tr td:last-child {
    border-right: 2px solid red !important;
}

tr td:first-child {
    border-left: 2px solid red !important;
}

thead {
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 2px;
    border: 2px solid red;
    color: deepskyblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#topic-info {
    width: 100%;
    background-color: yellow;
    font-size: 2em;
    font-family: 'Arial';
    text-align: center;
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}