@model LoginViewModel
@{
    ViewData["Title"] = "Log in";
}
<environment include="Development">
    <link href="@Url.Content("~/css/Account/RegisterLoginForms.css")" rel="stylesheet" type="text/css" />
</environment>
<environment exclude="Development">
    @section Stylesheets{ 
        <link href="@Url.Content("~/css/Form.min.css")" rel="stylesheet" type="text/css" />
    }
</environment>

<div class="container" id="form-container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <p id="sign-up-text">Log In</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <div asp-validation-summary="All" class="error-messages text-danger"></div>
            <form method="post">

                <span asp-validation-for="Email" class="text-danger"></span>
                <input asp-for="Email" placeholder="Email" autocomplete="off" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <input asp-for="Password" placeholder="Password" autocomplete="off" />
                <div id="remember-me">
                    <label asp-for="RememberMe"></label>&nbsp;
                    <input asp-for="RememberMe" />
                </div>
                <input type="submit" id="submit-btn" />
            </form>
        </div>
    </div>
</div>

<environment include="Development">
    @section Scripts {
        <script src="~/js/Account/FormManipulation.js"></script>
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
</environment>
<environment exclude="Development">
    @section Scripts {
        <script src="~/js/Account/FormManipulation.min.js"></script>
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
</environment>
