@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<link href="@Url.Content("~/css/Account/RegisterLoginForms.css")" rel="stylesheet" type="text/css" />

<div class="container" id="form-container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <p id="sign-up-text">Sign Up</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <div asp-validation-summary="All" class="error-messages text-danger"></div>
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                <div>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                    <input asp-for="FirstName" placeholder="First Name" autocomplete="off"
                     title="Maximum allowed characters: 30"/>
                </div>
                <div>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                    <input asp-for="LastName" placeholder="Last Name" autocomplete="off" 
                     title="Maximum allowed characters: 30"/>
                </div>
                <div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <input asp-for="Email" placeholder="Email" autocomplete="off" />
                </div>
                <div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <input asp-for="Password" placeholder="Password" autocomplete="off" 
                     title="- Password minimum length: 6<br/>- Must contains an uppercase and a lowercase letter<br/>- Must contain a digit"/>
                </div>
                <div>
                    <span asp-validation-for="ConfirmPassword"></span>
                    <input asp-for="ConfirmPassword" placeholder="Confirm password" autocomplete="off" />
                </div>
                <input type="submit" id="submit-btn" />
            </form>
        </div>
    </div>
</div>

<script src="~/js/Account/FormManipulation.js"></script>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
