@model CreateRoomViewModel

<environment include="Development">
    <link href="~/css/Room/CreateRoom.css" rel="stylesheet"/>
</environment>
<environment exclude="Develpment">
    @section Stylesheets{
        <link href="~/css/Room/CreateRoom.min.css" rel="stylesheet" />
    }
</environment>
<div class="container" id="form-container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <p id="page-title">Create Room</p>
        </div>
    </div>
    <div class="row text-center">
        <form asp-action="CreateRoom" method="post">
            <div class="text-danger"><span asp-validation-for="RoomName"></span></div>
            <label asp-for="RoomName"></label>
            <input placeholder="Room Name" asp-for="RoomName" autocomplete="off" />
            <label asp-for="TopicId"></label><br />
            @Html.DropDownListFor(m => m.TopicId, Model.ListOfTopics,null,null)
            <input type="submit" id="submit-btn" />
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}