@model RoomViewModel
<script src="https://cdn.ckeditor.com/4.10.1/full-all/ckeditor.js"></script>
<script src="~/js/cookies.js"></script>

<style>
    #room-container .post {
        background-color: antiquewhite;
        margin-top: 20px;
        border-radius: 50px;
    }

    #user-name {
        color: red;
    }

    #topic-info {
        width: 100%;
        background-color: yellow;
        font-size: 2em;
        font-family: 'Arial';
        text-align: center;
        margin-top: 20px;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    #post-btn {
        width: 150px;
        height: 25px;
        margin-top: 10px;
        position: relative;
        font-size: 1.5em;
        vertical-align: middle;
        padding-bottom: 30px;
    }

    #post-btn-wrapper {
        text-align: center;
    }

    #pagination-container{
        float:right;
    }
</style>

<div class="container" id="room-container">
    <div class="row" id="topic-info">
        <div class="col-sm-12">Topic Name: @Model.TopicName</div>
        <div class="col-sm-12">Room Name:@Model.RoomName</div>
        <div class="cols-sm-12">Number of Posts:@Model.NumberOfPosts</div>
    </div>
    <div asp-validation-summary="All"></div>

    @* TODO Create a SubscriptionViewModel in RoomViewModel *@
    <div id="subscription-container">
        @await Html.PartialAsync("~/Views/Subscription/_SubscriptionPartial.cshtml", Model.subscriptionViewModel)
    </div>
    <div id="post-container">
        @foreach (var post in Model.PostList)
        {
            @await Html.PartialAsync("~/Views/Post/_PostPartial.cshtml", post);
        }
    </div>
    <div id="pagination-container">
        <ul class="pagination">
            <li id="prev-page"><a href="#">Previous</a></li>
            @for (var i = 1 ; i <= Model.NumberOfPages ; ++i)
            {
                <li><a asp-action="GetRoom" asp-route-page="@i">@i</a></li>
            }
            <li id="next-page"><a href="#">Next</a></li>
        </ul>
    </div>
</div>

<div class="container" style="margin-top:20px">
    <textarea name="editor"></textarea>
</div>
<div id="post-btn-wrapper">
    <button id="post-btn" class="btn-success" onclick="SendPost()">Post</button>
</div>


<script>

    let page = window.location.pathname.split('/').pop();
    let lastPage = $("#pagination-container li").last().prev().text();
    if (page == 1)
        $("#prev-page").addClass("disabled");
    if (page == lastPage)
        $("#next-page").addClass("disabled");
</script>


<script>
    
    $(document).ready(() => { 
        CKEDITOR.editorConfig = function (config) {
            config.toolbarGroups = [
                { name: 'document', groups: ['mode', 'document', 'doctools'] },
                { name: 'clipboard', groups: ['clipboard', 'undo'] },
                { name: 'editing', groups: ['find', 'selection', 'spellchecker', 'editing'] },
                { name: 'forms', groups: ['forms'] },
                '/',
                { name: 'basicstyles', groups: ['basicstyles', 'cleanup'] },
                { name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi', 'paragraph'] },
                { name: 'links', groups: ['links'] },
                { name: 'insert', groups: ['insert'] },
                '/',
                { name: 'styles', groups: ['styles'] },
                { name: 'colors', groups: ['colors'] },
                { name: 'tools', groups: ['tools'] },
                { name: 'others', groups: ['others'] },
                { name: 'about', groups: ['about'] }
            ];

            config.removeButtons = 'Save,NewPage,Preview,Print,Templates,PasteFromWord,PasteText,Scayt,Form,Checkbox,Radio,TextField,Textarea,Select,Button,ImageButton,HiddenField,RemoveFormat,CopyFormatting,CreateDiv,Image,Flash,HorizontalRule,PageBreak,Iframe,ShowBlocks';
        };
        CKEDITOR.replace('editor');
        
    });
    var SendPost = () => {
        $.ajax({
            url: "/Post/CreatePost",
            type: "POST",
            data: {
                RoomId: parseInt(window.location.pathname.split('/').pop()),
                Message: CKEDITOR.instances['editor'].getData()
            },
            success: onSucces,
            error: onFailure
        });
    };

    var onSucces = () => {
        console.log("adas");
        location.reload();
    }
    var onFailure = () => {
        alert("Message doesn't meet requerements");
    }
</script>