@model RoomViewModel
<style>
    #room-container .post {
        background-color: #F9F9F9;
        margin-top:20px;
    }

    #room-container .user-name {
        color: #AA0000;

    }

    #topic-info{
        width:100%;
        background-color:yellow;
        font-size:2em;
        font-family:'Arial';
        text-align:center;
        margin-top:20px;
        border-radius:20px;
    }

</style>

<div class="container" id="room-container">
    <div class="row" id="topic-info">
        <div class="col-sm-12">Topic Name: @Model.TopicName</div>
        <div class="col-sm-12">Room Name:@Model.RoomName</div>
        <div class="cols-sm-12">Number of Posts:@Model.NumberOfPosts</div>
    </div>
    <div class="row post">
        <div class="col-sm-3" style="padding:10px;text-align:center;">
            <img style="margin:auto;border-radius:50px" width="100" height="100" src="~/images/NoImage.jpg" class="img-responsive"/>
            <div class="user-name">Cebotari Radu</div>
            <div class="text-info">Owner</div>
            <br />
            <div class="text-primary">Posts:100</div>
            <div class="text-primary">Email:radu_1997b@mail.ru</div>
        </div>
        <div class="col-sm-9" style="padding:20px;">
            <p class="text-center">
                Written on 12 September 2018
            </p>
            <p style="border-width:5px;border-color:blue;">
                Salut la toti
            </p>
        </div>
    </div>
</div>

<div class="container" style="margin-top:100px">
    <div id="editor"></div>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/inline/ckeditor.js"></script>

<button onclick="GetText()">Get Text</button>



<script>
    let theEditor;
    InlineEditor
        .create(document.querySelector('#editor'), {
            toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote', 'undo', 'redo'],
            fontFamily: {
                options: [
                    'default',
                    'Arial, Helvetica, sans-serif',
                    'Courier New, Courier, monospace',
                    'Georgia, serif',
                    'Lucida Sans Unicode, Lucida Grande, sans-serif',
                    'Tahoma, Geneva, sans-serif',
                    'Times New Roman, Times, serif',
                    'Trebuchet MS, Helvetica, sans-serif',
                    'Verdana, Geneva, sans-serif'
                ]
            },
            heading: {
                options: [
                    { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                    { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                    { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' }
                ]
            }
        }).
        then(editor => {
            theEditor = editor;
        })
        .catch(error => {
            console.error(error);
        });
    var GetText = () => {
        console.log(theEditor.getData());
    };
</script>