@model TopicInfoViewModel

<style>
    td {
        border-top: 2px solid red !important;
        padding-bottom: 10px !important;
        padding-top: 10px !important;
    }

    tr:last-child td {
        border-top: 2px solid red !important;
        border-bottom: 2px solid red !important;
    }

    tr td:last-child {
        border-right: 2px solid red !important;
    }

    tr td:first-child {
        border-left: 2px solid red !important;
    }

    thead {
        font-size: 1.5em;
        padding-top: 5px;
        padding-bottom: 2px;
        border: 2px solid red;
        color: deepskyblue;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
</style>

<div class="text-center">
     <div>Topic Name: @Model.TopicName</div>
     <div>Creation Date: @Model.CreationDate.ToString()</div>
</div>
<div class="container">
    <div class="row">
        <div class="text-center">Your favorite subject is not here? Press <a asp-action="CreateRoom">here</a> to create it.</div>
    </div>
    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="room-table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
            <thead>
                <tr>
                    <th>Room Subject</th>
                    <th>Number Of Posts</th>
                    <th>Creation Date</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>

    $(document).ready(() => {

        $("#room-table").DataTable({

            "serverSide": true,
            "processing": true, // for show progress bar
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Room/GetRoomsByTopic",
                "type": "GET",
                "datatype": "json",
                "data": function (d) {
                    let table = $("#room-table").DataTable();
                    let order = table.order();
                    d.numPage = table.page.info().page + 1;
                    d.pageSize = 10;
                    d.columnToSort = "RoomName",
                    d.order = order[0][1];
                    d.searchKeyword = $('.dataTables_filter input').val();
                    d.columnToSearch = "RoomName";
                    d.TopicId = window.location.pathname.split("/").pop();
                }
            },
            "columns": [
                {
                    "render": function (data, type, full, meta) {

                        return '<a href="/Room/GetRoom/' + full.RoomId + '">' + full.RoomName +  '</a>';
                    },
                    "sortable": true
                },
                { "data": "NumberOfPosts", "name": "Number of Posts", "autoWidth": true },
                {
                    "render": function (data, type, full, meta) {

                        return full.CreationDate.substring(0, 10);
                    },
                    "sortable": false
                },
            ],
            "bLengthChange": false,
            "bInfo": false
        });

    });

</script>