@model HomeViewModel

<environment include="Development">
    <link rel="stylesheet" href="~/css/Home/HomeStyle.css"/>
</environment>
<environment exclude="Development">
    @section Stylesheets{ 
        <link rel="stylesheet" href="~/css/Home/HomeStyle.min.css"/>
    }
</environment>
<div class="container latest-rooms-container">
    <div class="row">
        <h2 class="text-center table-name">Latest Rooms</h2>
    </div>
    <div class="row room-table-titles">
        <div class="col-xs-6">Room Name</div>
        <div class="col-xs-2">Topic</div>
        <div class="col-xs-2">Number Of Posts</div>
        <div class="col-xs-2">Creation Date</div>
    </div>
        @foreach (var room in Model.LatestRooms)
        {
            @await Html.PartialAsync("~/Views/Room/_RoomPartial.cshtml", room)
        }
</div>

<div class="container popular-rooms-container">
    <div class="row">
        <h2 class="text-center table-name">Popular Rooms</h2>
    </div>
    <div class="row room-table-titles">
        <div class="col-xs-6">Room Name</div>
        <div class="col-xs-2">Topic</div>
        <div class="col-xs-2">Number Of Posts</div>
        <div class="col-xs-2">Creation Date</div>
    </div>
    @foreach (var room in Model.PopularRooms)
    {
        @await Html.PartialAsync("~/Views/Room/_RoomPartial.cshtml", room)
    }
</div>

<div class="container favorite-rooms-container">
    <div class="row">
        <h2 class="text-center table-name">Favorite Rooms</h2>
    </div>
    @if (Model.PopularRooms.Count == 0)
    {
        <div class="text-center">You are not subscribed to any room</div>
    }
    else
    {
        <div class="row room-table-titles">
            <div class="col-xs-6">Room Name</div>
            <div class="col-xs-2">Topic</div>
            <div class="col-xs-2">Number Of Posts</div>
            <div class="col-xs-2">Creation Date</div>
        </div>
        @foreach (var room in Model.FavoriteRooms)
        {
            @await Html.PartialAsync("~/Views/Room/_RoomPartial.cshtml", room)
        }
    }
</div>

<environment include="Development">
    @section Scripts{ 
        <script src="~/js/Home/HomeTableManipulation.js"></script>
    }
</environment>
<environment exclude="Development">
    @section Scripts{
        <script src="~/js/Home/HomeTableManipulation.min.js"></script>
    }
</environment>